*{
    font-family: Roboto,Montserrat;
}


.logo img{
    height: 50px;
    width: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    display: flex;
}

.navbar a{
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
}

.intro img{
    width: 400px;
    padding: 10px;
}

.articles-title{
    display: flex;
    justify-content: center;
    padding-right: 100px;
}

.articles-imgs {
    display: flex;
    justify-content:center;
    padding-right: 100px;
}

.articles-imgs img {
    display: flex;
    
    width: 150px;
    height: 150px; 
    padding: 30px;
}
.quote{
    display: flex;
    text-align: center;
    font-size: 50px;
}

.block4{
    display: flex;
    justify-content: space-between;
    
    height: 200px;
    align-items: center;
    border-radius: 20px;
    
   
}

.caixa-menor {
    background-color: rgb(255, 180, 19);
    padding: 10px;
    border: 50px solid white; /* Adicione uma borda branca */
    border-radius: 80px; /* Arredonde as bordas */
}


.block4-lorem{
display: flex;
justify-content: space-between;
flex-direction: column;
text-align: center;
align-items: center;
border-radius: 20px;
}




footer{
    display: flex;
    justify-content: center;
}
